* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.tittle {
    text-align: center;
}
.container {
    background-color: rebeccapurple;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    
    &__title {
        text-align: center;
    }

    &__placeholder{
        text-align: center;
        padding: 16px;
        background-color: blue;
        width: 80%;
        margin: 0 auto;
    }

    &__keynumbers {
        border: 1px solid;
        margin: 8px auto;
        width: 80%;

        &--wrapper{
            display: flex;
            justify-content: space-between;
            margin: 20px;

        }

        &--key{
            background-color: white;
            border: 1px solid red;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
